body {
    font-family: Lato;
    font-weight: normal;
}

#content {
    margin-top: 70px;
}

.star {
    color:#FFD433;
}

.box {
     height: 300px;
     width: 450px;
     margin-left: 35%;
    border-radius: 15px;
    margin-top: 15%;
    background-color: white;
}

.login-page {
    background: url("images3.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: 100% 100%;
    background-size: cover;

}

.input1 {
    margin-top: 40px;
    margin-left: 17%;
        width: 300px;
}

.input2{
    margin-left: 17%;
        width: 300px;
}

.sign-in {
    margin-top: 20px;
    margin-left: 17%;
        width: 300px;
}

